@import 'tailwindcss';
@plugin "@tailwindcss/typography";

#root {
  margin: 0 auto;
}

@theme {
  --font-inter: 'InterVariable', sans-serif;

  --color-cs-black: #191919;
  --color-description: #536a79;
  --color-primary: #9f68ce;
  --color-background: #f7f5fe;
  --color-placeholder: #8ba0ae;
  --color-border: #c7ced3;
  --color-dark: #063248;

  --text-hero-title: clamp(3rem, 6vw, 6rem);
  --text-hero-title--line-height: 1;
  --text-hero-action: clamp(1rem, 2vw, 1.5rem);
  --text-hero-action--line-height: 1;
  --text-subtitle: 64px;
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/PoppinsRegular.woff2') format('woff2');
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/DMSansVariable.ttf') format('truetype');
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/GeistVariable.woff2') format('woff2');
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/MontserratVariable.ttf') format('truetype');
}

@font-face {
  font-family: Cal Sans;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/CalSansVariable.ttf') format('truetype');
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/LatoRegular.ttf') format('truetype');
}

@font-face {
  font-family: Figtree;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/FigtreeVariable.ttf') format('truetype');
}

.chat-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.chat-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 10px;
}
textarea::-webkit-resizer {
  background-color: transparent;
  border-width: 0;
  outline: none;
}
